html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2E0249;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    background-color: #2E0249;
    border-radius: 14px;
    margin: 0 auto;
    width: 800px;
}

.container-wrap {
    padding: 2rem;
    display: flex;
    gap: 80px;
}

.text-container h1 {
    color: #EEEEEE;
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.change-color {
    color: #A91079;
}

.text-info {
    margin-bottom: 8rem;
}

.text-info-links {
    color: #FFFFFF;
    display: flex;
    gap: 10px;
    padding: 1rem 3rem 1rem 1rem;
    font-size: .8rem;
    font-weight: 500;
    border: 2px solid #2E0249;
    border-radius: 12px;
}

.text-info-links img {
    width: 15px;
}

.text-info-links:hover {
    background: rgba(87, 10, 87, 0.5);
    border: 2px solid #A91079;
    border-radius: 12px;
}

.text-socials {
    display: flex;
    width: 180px;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
}

.text-socials a {                   
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-socials img {                   
    padding: 0.5rem;
}

.text-socials a:hover {
    background-color: #A91079;
    border-radius: 50%;
}

.form-container-background {
    background-color: #EEEEEE;
    border-radius: 14px;
    width: 100%;
}

.form-container {
    padding: 1.6rem;
}

.form-container h2 {
    font-family: 'Poppins', sans-serif;
    color: #2E0249;
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.form-buttons input {
    font-family: 'Poppins', sans-serif;
    color: #2E02494D;
    font-size: 0.75rem;
    padding: 10px 13px;
    height: 40px;

    border: 2px solid #2E02494D;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.form-buttons input:hover {
    color: #EEEEEE;
    background-color: #A91079;
    border: 2px solid #A91079;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 124px;
}

.form-info input {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    color: #2E02494D;
    border-style: none;
    border-bottom: 2px solid #2E02494D;
    background-color: transparent;
}

.form-info input:hover {
    color: #2E0249;
    border-bottom: 2px solid #A91079;

}

#form button {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    color: #EEEEEE;
    background: #A91079;
    border: 2px solid #A91079;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    padding: 10px 25px;
}
